body {

    margin:0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.navbar {

    position: relative;
    top: 0;
    bottom: 20px;
    width: 100%;
    height: 60px;
    background-color: blue;
    box-shadow: 0 3px 3px rgba(37, 37, 37, 0.5);
    padding-bottom: 6.5%;

}

input {
    height: 20px;
    width: 180px;
    position: relative;
    left: 10px;
    top: 35px;
    border-radius: 30px;
    border: none;
    text-align: center;
    outline: none;
}
.ul {
    position: relative;
    bottom: 6px;
    left: 0;
    display: flex;
    list-style-type: none;
    font-size: 0.9em;
    margin-left: 32%;
   
    

}

li {

    position: relative;
    top: 0px;
    padding: 6px;
    margin-top: 0px;
}

li :hover {

    background-color: lightblue;
    color: black;
}

a {

    color: rgb(219, 203, 203);
    text-decoration: none;
    font-weight: bold;
}

/* konten 
*/

.content {

            position: relative;
            top: 0px;
            width: 100%;
            height: 900px;
            background-color: rgb(241, 245, 234);
            
            

}

#jam {


    position: relative;
    left: 0%;
    top: 5%;
    font-weight: bolder;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    margin-right: 40%;
    margin-left: 42%;
    color: yellow;
    background-color: black;
}

.bj {
        color: yellow;
        font-weight: bold;
        position: relative;
        top: 10%;
        padding: 10px;
        margin-left: 28%;
        margin-right: 37%;
        background-color: rgb(19, 11, 10);
        box-shadow: 5px 5px 5px rgba(0,0,0,0.5);

}

img {

    position: relative;
    top: 15%;
    left: 62%;
    clip-path: circle(52% at center);
    width: 150px;
    height: 150px;
    box-shadow: 5px 10px 10px rgba(14, 13, 13, 0.3);
}

.p{

    position: relative;
    bottom: 1%;
    right: 40%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: black;
    box-shadow: 10px 10px 10px rgba(17, 17, 17, 0.247);
    background-color: rgb(180, 219, 178);
    margin-left: 50%;
    margin-right: 50%px;
    color: rgb(20, 11, 11);
    border-radius: 30px;
}

.button {
    position: relative;
    bottom: 10px;
    left: 25%;
    background-color: blue;
    border-radius: 50px;
    border: 100px;
    width: 20%;
    height: 30px;
    color: white;
    font-weight: bolder;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    
}

button:hover {

    background-color: white;
    color: black;
}

.border1 {


    position: relative;
    top: 10%;
    left: 5%;
    border: 3px;
    border-radius: 15%;
    border-top-left-radius: 10%;
    width: 90%;
    height: 20%;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);

}

.border2 {

    padding: 40px;
    font-weight: bold;
    font-style: italic;
}

/* about */

.bk {
        position: relative;
        padding: 1px;
        width: 100%;
        height: 900px;        
        background-color: lightblue;

}

.pbk {

    position: relative;
    left: 45px;
    top: 200px;
    padding-top: 50px;
    text-align: center;
    background-color: rgb(83, 83, 201);
    width: 400px;
    height: 500px;
    font-weight: bold;
    box-shadow: 20px 20px 3px rgba(0,0,0,0.5);
}

.imgab {

    position: relative;
    top: 0px;
    bottom: 300px;
    left: 0;
}
table {

    border: 1px;
    width: 400px;
    background-color: yellow;
}

.h4ab {
    position: relative;
    left: 35%;
    width: 100px;
    padding: 3px;
    padding-top: 8px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-color: wheat;
}

.nama {

    background-color: wheat;
    position: relative;
    left: 28%;
    width: 150px;
    padding: 5px;
    box-shadow: 20px 10px 10px rgba(0,0,0,0.5);
}

.aboutMe {

    color: white;
    text-align: center;
    padding: 10px;
}





